/* CONTAINER */
.app-navbar {
  background: linear-gradient(
    135deg,
    #020617,
    #0f172a
  );
  border-bottom: 1px solid rgba(255,255,255,0.08);
  
}


/* BRAND */
.navbar-brand {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #ffffff;
}

/* LINK */
.navbar-nav .nav-link {
  color: #cbd5f5;
  font-weight: 500;
  margin-right: 12px;
  position: relative;
}

/* HOVER */
.navbar-nav .nav-link:hover {
  color: #ffffff;
}

/* LINK ATTIVO */
.navbar-nav .nav-link.active {
  color: #ffffff;
}

/* LINEA SOTTO LINK ATTIVO */
.navbar-nav .nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #4f46e5, #22d3ee);
  border-radius: 2px;
}

/* TOGGLER (HAMBURGER) */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}
